{%- comment -%}Address of the current page in language include.l.{%- endcomment -%}
{%- assign _l = include.l -%}
{%- if page.key -%}
  {%- assign _item = site.data.nav | where: "key", page.key | first -%}{{ _item.url[_l] }}
{%- elsif page.collection == "fakihler" -%}
  {%- assign _item = site.data.nav | where: "key", "fukaha" | first -%}{{ _item.url[_l] }}{{ page.slug }}/
{%- elsif page.ref -%}
  {%- assign _tp = site.posts | where: "ref", page.ref | where: "lang", _l | first -%}
  {%- if _tp -%}{{ _tp.url }}{%- else -%}
    {%- if page.kind == "haber" -%}{%- assign _k = "haberler" -%}{%- else -%}{%- assign _k = "blog" -%}{%- endif -%}
    {%- assign _item = site.data.nav | where: "key", _k | first -%}{{ _item.url[_l] }}
  {%- endif -%}
{%- else -%}{{ site.data.nav[0].url[_l] }}{%- endif -%}
